<style>
h1   {color:white}
h2   {color:#3B0B0B}
h3   {color:white}
p    {color:#A9F5A9}

body{
    background-image: url('http://www.highresolution-wallpapers.com/walls/high_res_sea_shore_in_thailand_and_canoe-wide.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-color: ;
}

div.background {
    width: 500px;
    height: 250px;
    background: url(klematis.jpg) repeat;
    border: 5px white;
}

div.transbox {
    width: 380px;
    height: 220px;
    margin: 120px auto;
    background-color: #ffffff ;
    border: 1px solid white;
    opacity: .6;
    filter: alpha(opacity=); /* For IE8 and earlier */
}

div.transbox p {
    margin: 30px 40px;
    font-weight: bold;

    color: #3B0B0B;
}
</style>
<h1 style="font-size:72Pt; text-align:center; style="font-family:verdana" ">TREKPIC</h1>
<h2 style="font-size:17.5Pt; text-align:center;">See the world.  Show your friends.</h2>
<div id="boxtext">
 <div class="background">
  <div class="transbox">
    <p>Trekpic allows you to effortlessly share your photos on the go.
       Post, share, and comment on photos uploaded by you or your friends.
       Let our geo-coder locate your position and automatically post your pics on our
       one of a kind world map. Welcome to Trekpic! See the world, show your friends!
    </p>
  </div>
</div>
<span style ="position:absolute;right:0;bottom:0">
	<p>“Not all those who wander are lost.” – J. R. R. Tolkien</p>
</span>