<h1>New photo</h1>

<%= form_for @photo, :url => photos_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :picture %>
<% end %>
<%= render 'form' %>


<%= link_to 'Back', photos_path %>
