// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1   {color:white}
h2   {color:#3B0B0B}
h3   {color:white}
p    {
    margin-right:10px;
    margin-bottom: 10px;
}

body{
    background-image: url('http://www.highresolution-wallpapers.com/walls/high_res_sea_shore_in_thailand_and_canoe-wide.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}

div.transbox {
    margin: 50px 0 0 0;
    background-color: #ffffff ;
    border: 1px solid white;
    opacity: .6;
    filter: alpha(opacity=.6); /* For IE8 and earlier */
}

div.transbox p {
    margin: 30px 40px;
    font-weight: bold;

    color: #3B0B0B;
}

div.btm-quote {
	color: white;
	position:absolute;
	right:0;
	bottom:0;
	font-size:1.5em;
	margin: 0 15px 0 0;
}